$primary-color: #00695f;
$primary-color-medium: #009688;
$primary-color-light: #33ab9f;

$secondary-color-50: #ede7f6;
$secondary-color: #4615b2;
$secondary-color-medium: #651fff;
$secondary-color-light: #834bff;

$red-color: #aa2e25;
$red-color-medium: #f44336;
$red-color-light: #f6685e;
$red-color-50: #ffebee;


$black-color: #212121;
$black-color-medium: #424242;
$black-color-light: #616161;

$grey-color: #e0e0e0;
$grey-color-medium: #eeeeee;
$grey-color-light: #f5f5f5;

$amber-color-50: #fff8e1;
$amber-color-100: #ffecb3;
$amber-color-200: #ffe082;

$teal-color-50: #e0f2f1;
$teal-color-100: #b2dfdb;
$teal-color-200: #80cbc4;

$white-color: #eceff1;