$primary-color: #00695f;
$primary-color-medium: #009688;
$primary-color-light: #33ab9f;

$secondary-color: #4615b2;
$secondary-color-medium: #651fff;
$secondary-color-light: #834bff;

$red-color: #aa2e25;
$red-color-medium: #f44336;
$red-color-light: #f6685e;

$black-color: #212121;
$black-color-medium: #424242;
$black-color-light: #616161;

$grey-color: #e0e0e0;
$grey-color-medium: #eeeeee;
$grey-color-light: #f5f5f5;

$white-color: #eceff1;