@import '../../styles/global.scss';

.timeSlot-c {
  color: $black-color-medium !important;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .timeSlot-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .timeSlot-tokens {
    font-size: 16px;
    font-weight: 400;
  }

  .MuiRadio-root.Mui-checked {
    color: $primary-color;
  }
}

.timeSlot-c--green {
  background-color: $teal-color-100 !important;
}

.timeSlot-c--amber {
  background-color: $amber-color-100 !important;
}

.timeSlot-c--red {
  background-color: $red-color-50 !important;
}